<div class="footer" style="text-align: center; height: 350px;">
        <ul style="float: left;">
            <h1 style="display: inline;">Önerilenler</h1><br><br>
            <a href="1"><li class="oneri">1. program1</li></a><br><br>
            <a href="2"><li class="oneri">2. program2</li></a><br><br>
            <a href="3"><li class="oneri">3. program3</li></a><br><br>
            <a href="4"><li class="oneri">4. program4</li></a><br><br>
            <a href="5"><li class="oneri">5. program5</li></a><br><br>
        </ul>
        <ul>
            <h1 style="display: inline; margin-left: -100px;">Sayfalar</h1><br><br>
            <a href=""><li class="sy">Anasayfa</li></a><br><br>
            <a href=""><li class="sy">Katagoriler</li></a><br><br>
            <a href=""><li class="sy">İletişim</li></a><br><br>
        </ul>
        <ul style="float: right; margin-right: 40px; margin-top: -240px;">
            <h1 style="display: inline;">Katagori</h1><br><br>
            <a href="1"><li class="oneri">Katagori</li></a><br><br>
            <a href="2"><li class="oneri">Katagori</li></a><br><br>
            <a href="3"><li class="oneri">Katagori</li></a><br><br>
            <a href="4"><li class="oneri">Katagori</li></a><br><br>
            <a href="5"><li class="oneri">Katagori</li></a><br><br>
        </ul>
        <ul style="margin-left: 30px; padding-bottom: 130px; margin-top: 50px;">
            <a href="https://twitter.com/setupexe7" target="_blank"><li class="sos"><i style="display: none; font-size: 43px;" class="fa-brands fa-twitter-square" id="t"></i><p class="p" id="t"> Twitter</p></li></a>
            <a href="https://www.facebook.com/people/Setup-Exe/100081857804770/" target="_blank"><li class="sos"><i style="display: none; font-size: 43px;" class="fa-brands fa-facebook-square" id="f"></i><p class="p" id="f"> Facebook</p></li></a>
            <a href="" target="_blank"><li class="sos"><i style="font-size: 43px;" class="fa-brands fa-youtube-square" id="y"></i><p class="p" id="y"> Youtube</p></li></a>
            <a href="https://www.instagram.com/s.e_7/" target="_blank"><li class="sos"><i style="display: none; font-size: 43px;" class="fa-brands fa-instagram-square" id="i"></i><p class="p" id="i"> İnstagram</p></li></a>
            <a href="https://www.reddit.com/user/setup--exe" target="_blank"><li class="sos"><i style="display: none; font-size: 43px;" class="fa-brands fa-reddit-square" id="r"></i><p class="p" id="r"> Reddit</p></li></a>
    </ul>
</div>
<style>
    .p{
        font-size: 0px;
        display: inline;
        transition: 0.3s;
    }
    .sos{
        display: inline;
        margin-left: 2px;
    }
    .sos:hover > #f{
        color: #5d7ec4;
    }
    
    
    .sos:hover > #r{
        color: rgb(255,69,0);
    }

    .sos:hover > #i{
        color: rgb(255,221,85);
    }

    .sos:hover > #y{
        color: #c4302b;
    }

    .sos:hover > #t{
        color: #00acee;
    }

    .sos:hover > .p{
        font-size: 30px;
    }

    .oneri{
        font-weight: 400;
        font-size: 23px;
        list-style: decimal;
        margin-left: 5px;
        transition: 0.45s;
        display: inline;
        width: fit-content;
        padding: 10px;
    }

    .sy{
        font-weight: 400;
        font-size: 23px;
        list-style: decimal;
        transition: 0.45s;
        margin-left: -100px;
        display: inline;
        width: fit-content;
        padding: 10px;
    }

    .oneri:hover{
        transition: 0.45s;
        font-size: 20px;
        color: rgb(60, 255, 255);
    }

    .sy:hover{
        transition: 0.45s;
        font-weight: 700;
        color: rgb(60, 255, 255);
    }
</style>