
    <meta charset="UTF-8"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="logolar/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <style>
        *{
            color: white;
        }

        body{
            background-image: url(bg.jpg);
            position: fixed;
            right: 0;
            left: 0;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <title>setup.exe | <%=title%></title>