<nav>
    <ul>
        <a href="/"><li><img class="logo" src="logolar/logo.png" alt=""></li></a>
        <a class="mh" href="/"><li>Anasayfa</li></a>
        <a class="mh" href="/iletisim"><li>İletişim</li></a>
        <li>
        <form action="/" method="post" class="box">
            <input id="input" name="baslik" class="input" placeholder="setup.exe'de ara..." type="search">
            <button type="submit" id="a" class="a">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </ul>
</nav>