<!DOCTYPE html>
<html lang="tr-TR">
<head>
<%-include('./inc/head')%>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Blaka&display=swap" rel="stylesheet">
<head>
<body style="text-align: center;">
    <%-include('./inc/yuk')%>
    <%-include('./inc/navbar')%>
    <div style="overflow: scroll; padding: 30px; margin-top: 80px; background-color: rgba(0, 0, 0, 0.712); height: 91vh;">
        <img style="width: 50vw; max-width: 600px; opacity: 120%;" src="404.png" alt="">
        <h1>sayfa bulunamadı (Hata kodu : 404)</h1>
        <a href="/">
            <button class="ad">Anasayfaya dön >>></button>
        </a>
    </div>
    <%-include('./inc/js')%>
</body>
</html>